body {
  background-color: #f9f9ea;
  color: #212120;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3em;
}

p {
  font-size: 100%;
  line-height: 1.5em;
}

nav {
  background-color: #697282;
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

a:link {
  color: #ffffff;
} /* unvisited */

a:visited {
  color: #d8d8d8;
} /* visited */

a:hover {
  color: #ffffff;
  font-weight: bold;
} /* mouse over */

a:active {
  color: blue;
} /* selected */

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
